/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/07/2018, 17:40:20
    Author     : Hudson
*/

#border-one{
    
    width: 1355px;
    height: 45px;
    background-color: #4F94CD;
    border-radius: 5px;
}

#border-tho{
    width: 1170px;
    height: 395px;
    background-color: #87CEFF;
    border-radius: 5px;
}